* {
    /* box-sizing: border-box; */
    margin: 10px 10px;
    background-color: ghostwhite;
}

nav {
    float: right;
    padding: 20px;
    width: 400px;
    font-size: 25px;
}

.gmap_canvas {
    content: center;
}


a {
    text-decoration: none;
    color: #606060;
    text-align: center;
}

a:hover {
    color: black;
}

img {
    width: 150px;
    height: 150px;
    padding: 5px 0px 10px 50px;
}

footer {
    text-align: center;
}

address, h5 {
    text-align: center;
    font-style: none;
}

p {
    text-align: center;
}