* {
    margin: 10px 10px;
    background-color: ghostwhite;
}

.slogan {
    text-align: center;
    padding-bottom: 25px;
}


nav {
    float: right;
    padding: 20px;
    width: 400px;
    font-size: 25px;
}
a {
    text-decoration: none;
    color: #606060;
    text-align: center;
}

a:hover {
    color: black;
}

img {
    width: 150px;
    height: 150px;
    padding: 5px 0px 10px 50px;

}

.image {
    height: 250px;
    width: 350px;

}

.app {
    margin-top: 350px;
}



p {
    text-align: center;
}

.main {
    padding-bottom: 25px;
}



h1 {
    text-align: center;
    color: #606060;
}

.p1 {
    text-align: center;
}



.img {
    text-align: center;
}

.column {
    text-align: center;
    float: left;
    width: 30%;
    padding: 10px;
    height: 200px;
}
    

footer {
    text-align: center;
}

.line {
    width: 100%;
}

address, h5 {
    text-align: center;
    font-style: none;
}

button {
    align-items: center;
}
